/*All Pages*/
.form {
    margin: auto;
    position: center;
    padding: 15px;
    width: 28%;
}

.form h2 {
    text-align: center;
}

.form p {
    text-align: center;
    font-size: 16px;
}

/*Form inputs*/
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid;
    box-sizing: border-box;
}

/*Buttons*/
button {
    background-color: forestgreen;
    color: white;
    padding: 12px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    float: left;
    width: 45%;
}

button:hover {
    opacity: 0.6;
}

.forgot-pass-button {
    padding: 5px;
    color: blue;
    float: right;
    width: auto;
    background-color: whitesmoke;
}

.event-buttons {
    padding: 15px;
    margin-bottom: 15px;
    margin-top: 20px;
}

.got-account,
.got-account a {
    font-size: 16px;
    text-align: center;
    padding-top: 32px;
}

.got-account a {
    color: blue;
}

.inputs .checkbox-text {
    font-size: 16px;
    float: left;
}

.cancel-button {
    float: right;
    background-color: darkorange;
}

.button-reset {
    margin-left: 25%;
}

.capital:first-letter {   
    text-transform: uppercase;
}