.topbar {
    width: 100%;
    height: 125px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #A9D18E;
    padding-top: 5px;
    padding-left: 220px;
    z-index: 2;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 22px;
}

.icon {
    height: 170px;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
}

.sidebar {
    height: 100%;
    width: 220px;
    position: fixed;
    z-index: 1;
    left: 0;
    background-color: #A9D18E;
    text-align: center;
}

    .sidebar a {
        display: block;
        color: black;
        text-decoration: none;
    }

        .sidebar a.active {
            background-color: #548235;
            color: white;
        }

        .sidebar a:hover:not(.active) {
            background-color: #555;
            color: white;
        }

.sidebar-bottom {
    bottom: 120px;
    position: fixed;
    width: 220px;
    text-align: center;
}

.main {
    margin-top: 130px;
    margin-left: 210px; /* Same as the width of the sidenav */
    background-color: whitesmoke;
    padding: 2px 50px 50px 20px;
}

a {
    color: black;
    font-size: 22px;
    text-decoration: none;
}

body {
    margin-bottom: 60px;
    font-family: Arial, Helvetica, sans-serif;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    line-height: 40px;
    background-color: #A9D18E;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

p {
    font-size: 18px;
}

.post-block {
    margin: 100px;
    position: center;
    height: 100px;
    width:80%;
    background-color: #DEEBF7;
    border: 3px solid #41719C;
    border-radius:25px;
    text-align: center;
}


/*blues*/
/* #DEEBF7   post block background*/
/* #B4C7E7   post block title and info*/
/* BDD7EE    post block content*/
/* #41719C   post block outside boarder*/