
.post-block {
    position: relative;
    height: 50vh;
    background-color: #DEEBF7;
    border: 3px solid #41719C;
    border-radius: 25px;
    text-align: left;
    margin: 0px;
    width: 100%;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 25% 20% 5% 20% 5% 25%;
    grid-template-rows: 20% 10% 40% 10% 10% 10%;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        ". postTitle postTitle postTitle postTitle postTitle"
        "postName postContent postContent postContent postContent postContent"
        "postCommentsBox postContent postContent postContent postContent postContent"
        "postCommentsInput postContent postContent postContent postContent postContent"
        "postDate postContent postContent postContent postContent postContent"
        ". postLike postNumLike postComment postNumCom postDelete";
}


.postName {
    grid-area: postName;
    text-align: center;
    border: solid;
    border-width: 2px 0px 2px 0px;
    border-color: #5B9BD5;
    padding-top: 2%;
    font-size: 18px;
}

.postTitle {
    grid-area: postTitle;
    font-weight: bold;
    border: solid;
    border-width: 0px 0px 0px 2px;
    border-color: #5B9BD5;
    padding: 4%;
    font-size: 25px;
}

.postDate {
    grid-area: postDate;
    text-align: center;
    border: solid;
    border-width: 2px 0px 2px 0px;
    border-color: #5B9BD5;
    font-size: 16px;
    padding-top: 2%;
}

.postNumCom {
    grid-area: postNumCom;
    text-align: center;
    border: solid;
    border-width: 0px 2px 0px 0px;
    border-color: #5B9BD5;
    font-size: 16px;
    line-height: 300%;
}

.postNumLike {
    grid-area: postNumLike;
    text-align: center;
    font-size: 16px;
    text-align: center;
    border-radius: inherit;
    position: absolute;
    height: 90%;
    width: 90%;
    place-self: center;
    line-height: 300%;
}

.postLike {
    grid-area: postLike;
    text-align: right;
    border: solid;
    border-width: 0px 2px 0px 2px;
    border-color: #5B9BD5;
    padding: 5%;
    font-size: 19px;
}

.postComment {
    grid-area: postComment;
    text-align: right;
    border: solid;
    border-width: 0px 2px 0px 2px;
    border-color: #5B9BD5;
    padding: 5%;
    font-size: 19px;
}

.postCommentsBox {
    grid-area: postCommentsBox;
    font-size: 12px;
    padding: 2%;

    word-wrap: break-word;
    hyphens: auto;

    overflow-y:scroll;
}

.postCommentsInput {
    grid-area: postCommentsInput;
}

.postFriendsComments {
    padding: 5px;
}

.postContent {
    grid-area: postContent;
    border: solid;
    border-width: 2px 0px 2px 2px;
    border-color: #5B9BD5;
    font-size: 20px;
    padding: 1%;
    word-wrap: break-word;
    hyphens: auto;

}

.postDelete {
    grid-area: postDelete;
    text-align: center;
    font-size: 19px;
    background: #ffcccc;
    border-radius: inherit;
    position: absolute;
    height: 90%;
    width: 90%;
    place-self: center;
}



.title {
    font-weight: bold;

}

.content {
    resize: none;
    width: 100%;
    font-family: Arial;
    height: 19px;
}

.end-of-posts {
    border-style: solid;
    border-radius: 25px;
    border-color: darkgray;
    padding: 10px;
    color: #545454;
    font-weight: bold;
    text-align: center;
}
