.topbar {
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: lightgray;
    padding-top: 5px;
    padding-left: 200px;
    overflow: hidden;
}

.topbar-right {
    position: center;
    float: right;
    padding: 25px 12px;
    margin-top: 15px;
}

.topbar-right a {
    color: black;
    background-color: grey;
    color: white;
    text-align: center;
    padding: 20px 20px;
    font-size: 18px;
    margin-right: 12px;
}

.topbar-right a:hover:not(.active) {
    background-color: #555;
    color: white;
}

.icon {
    height: 170px;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
}

.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    left: 0;
    background-color: lightgray;
    padding-top: 20px;
    text-align: center;
}

.sidebar a {
    display: block;
    color: black;
    padding: 6px 6px 6px 16px;
    text-decoration: none;
}

.sidebar a.active {
    background-color: grey;
    color: white;
}

.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    line-height: 50px;
    background-color: lightgray;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.container {
      margin: 0 auto;
    padding-bottom: 25px;
    background: #eee;
    width: 600px;
    max-width: 100%;
    border: 2px solid #212121;
    border-radius: 4px;

form {
    padding: 15px 25px;
    display: flex;
    gap: 10px;
    justify-content: center;
}

    form label {
        font-size: 1.5rem;
        font-weight: bold;
    }

input {
    font-family: "Lato";
}

#wrapper {
    margin: 0 auto;
    padding-bottom: 25px;
    background: #eee;
    width: 600px;
    max-width: 100%;
    border: 2px solid #212121;
    border-radius: 4px;
}

#chatbox {
    text-align: left;
    margin: 0 auto;
    margin-bottom: 25px;
    padding: 10px;
    background: #fff;
    height: 300px;
    width: 530px;
    border: 1px solid #a7a7a7;
    overflow: auto;
    border-radius: 4px;
    border-bottom: 4px solid #a7a7a7;
}


#name {
    border-radius: 4px;
    border: 1px solid #ff9800;
    padding: 2px 8px;
}

#menu {
    padding: 15px 25px;
    display: flex;
}