body {
    margin: 130px 0px 0px 220px;
    font-family: Arial, Helvetica, sans-serif;
}

#page-content-wrapper {
    min-height: 100%;
    margin-bottom: 40px;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
    color:darkslategray;
}

.topbar {
    width: 100%;
    height: 125px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #A9D18E;
    padding-top: 5px;
    padding-left: 230px;
    z-index: 2;
}

.logo {
    height: 170px;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
}


.sidebar {
    height: 100%;
    width: 220px;
    position: fixed;
    z-index: 1;
    left: 0;
    background-color: #A9D18E;
    text-align: center;
    padding-top: 20px;
}

    .sidebar a {
        display: block;
        padding: 6px 0px 6px 0px;
    }

        .sidebar a.active {
            background-color: #548235;
            color: white;
        }

        .sidebar a:hover:not(.active) {
            background-color: #555;
            color: white;
        }

a {
    color: black;
    font-size: 22px;
    text-decoration: none;
}

.sidebar-bottom {
    height: 38px;
    bottom: 40px;
    position: fixed;
    width: 220px;
    text-align: center;
}



.main {
    padding: 10px;
    background-color: whitesmoke;
}

p {
    font-size: 20px;
}

.footer {
    position: fixed;
    bottom: 0;
    scroll-padding-bottom: auto;
    left: 0;
    width: 100%;
    line-height: 40px;
    background-color: #A9D18E;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

body {
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
}
