.topbar {
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: lightgray;
    padding-top: 5px;
    padding-left: 200px;
    overflow: hidden;
}

.topbar-right {
    position: center;
    float: right;
    padding: 25px 12px;
    margin-top: 15px;
}

.topbar-right a {
    color: black;
    background-color: grey;
    color: white;
    text-align: center;
    padding: 20px 20px;
    font-size: 18px;
    margin-right: 12px;
}

.topbar-right a:hover:not(.active) {
    background-color: #555;
    color: white;
}

.icon {
    height: 170px;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
}

.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    left: 0;
    background-color: lightgray;
    padding-top: 20px;
    text-align: center;
}

.sidebar a {
    display: block;
    color: black;
    padding: 6px 6px 6px 16px;
    text-decoration: none;
}

.sidebar a.active {
    background-color: grey;
    color: white;
}

.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}

a {
    color: black;
    font-size: 22px;
    text-decoration: none;

}

body {
    margin-bottom: 60px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    line-height: 50px;
    background-color: lightgray;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.container {
    padding-top: 10px;
    margin-left: 200px;
    margin-top: 110px;
    margin-bottom: 50px;
    height: auto;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 22px;
}

p {
    font-size: 18px;
}
